@use '../abstracts/variables' as var;
@use '../abstracts/functions' as func;

.card {
	width: 100%;
	padding: func.em(24);
	margin: func.em(40) 0 func.em(60);
}

.card-image {
	margin-bottom: func.em(24);
}

.card-image .image {
	background-color: var.$color-soft-blue;
	border-radius: 8px;
	cursor: pointer;
}

.card-image .image::after {
	content: '';
	position: absolute;
	inset: 0;
	background-color: var.$color-cyan-light;
	background-image: url('../images/icons/view.svg');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 0.3s;
}

.card-image .image:hover::after {
	opacity: 1;
}

.level {
	font-size: func.em(15);
}

.level-left {
	font-weight: var.$font-weight-600;
	color: var.$color-cyan;
}

.media {
	padding-top: func.em(16);
	margin-top: func.em(16);
	border-top: 1px solid var.$color-dark-blue-3;
}

.media-left .image img {
	border: 1px solid var.$color-white;
}

.media-content p {
	font-size: func.em(15);
}

@media (min-width: 48em) {
	.level {
		font-size: func.em(16);
	}

	.media-content p {
		font-size: func.em(16);
	}
}
